.header-container{
    background-color: antiquewhite;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search-container{
    display: flex;
}